# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables & secrets
.env
*.pem
*.key

# AWS IoT device certificates
**/certs/

# AWS credentials 
.aws/

# OS/editor clutter
Thumbs.db
.DS_Store
.vscode/